@import "variables";

h4 a {
  color: $color-white;
  font-weight: inherit;
  text-decoration: underline;

  &:hover {
    color: $color-secondary-alt;
  }
}

.wrapper {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 72%;

  .title-container {
    width: 100%;
    position: relative;
    margin: 0 auto;
    margin-bottom: 15%;
  }

  .title {
    text-align: center;
    font-size: 29px;
    width: 70%;
    float: left;
    padding: 0 2%;
    color: $color-white;
  }

  .hr-title {
    background: $color-white;
    height: 2px;
    width: 14%;
    margin-top: 33px;
    float: left;
  }

  .heading {
    text-align: center;
    font-size: 40px;

    h1 {
      padding-bottom: 10px;
    }
  }
}

@media (min-width: 1400px) {
  .wrapper {
    width: 700px;
  }
}

@media (max-width: 790px) {
  .wrapper {
    width: 100%;
  }

  ol li p:nth-child(3) {
    text-align: left;
  }

  ol li a {
    padding: 3px;
  }
}

.row {
  margin: 0;
}

.navigation-wrapper {
  position: fixed;
  top: 17%;

  h1 {
    margin-left: 10%;
  }

  li {
    margin-bottom: 11px;
    list-style: none;

    a {
      color: $color-white;
      font-size: 18px;
      padding: 4px;
    }
  }
}


.download-button {
  margin-top: 44%;

  a {
    font-size: 24px;
    color: $color-white;
    border: 1px solid $color-white;
    padding: 9px;
    border-radius: 5px;
    margin-left: 15%;
    text-decoration: none;
    transition: all .2s;

    &:hover {
      background: $color-primary-alt;
    }
  }
}

.list-of-reasons-container {
  text-align: left;
}

// scss-lint:disable NestingDepth,SelectorDepth
ol li {
  font-size: 25px;
  font-weight: 200;
  padding-bottom: 30px;
  float: left;
  width: 100%;

  p:first-child {
    color: $color-secondary-alt;

    a {
      color: $link-color;
      text-decoration: underline;

      &:hover {
        color: $color-secondary-alt;
        text-decoration: underline;
      }
    }
  }

  p:nth-child(2) {
    font-size: 20px;
  }

  p:nth-child(3) {
    text-align: right;

    a {
      color: $color-white;
      font-size: 18px;
      border: 1px solid;
      padding: 9px;
      transition: all .2s;

      &:hover {
        border: 1px solid;
        background: $color-primary-alt;
        color: $color-white;
        text-decoration: none;
      }
    }
  }

  p:nth-child(4) {
    text-align: right;
  }
}
// scss-lint:enable NestingDepth,SelectorDepth

.note-on-content {
  font-size: 14px;
  text-align: left;
  color: $color-white;

  a {
    color: $link-color;
    text-decoration: underline;

    &:hover {
      color: $color-secondary-alt;
      text-decoration: underline;
    }
  }
}
