// @keyframes showDropdown {
//   to {
//
//   }
// }

.nav {

  // scss-lint:disable ImportantRule
  li {
    position: relative;
    overflow: hidden;

    &:hover {
      overflow: visible;

      .dropdown {
        transform: translateY(0);
        opacity: 1;
      }

    }

    @media all and (max-width: $screen-md-min) {
      overflow: visible;
      min-width: 33%;
      padding: 20px 0;
    }

    @media all and (max-width: $screen-sm-min) {
      width: 50%;
    }

  }

  .nosubmenu {

    @media all and (max-width: $screen-md-min) {
      width: 100%;
      text-align: center;
    }

  }

  .main-nav-link {
    font-size: $font-size-base - 2;

    // scss-lint:disable ImportantRule
    @media all and (max-width: $screen-md-min) {
      font-size: $font-size-base + 2;
      font-weight: 600;
      color: $color-primary !important;
      padding: 0;
    }

  }

  .dropdown {
    display: flex;
    flex-direction: column;
    transform: translateY(20px);
    transition: $transition-primary;
    padding: 10px;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: $border-radius-large;
    background: $color-white;
    box-shadow: $box-shadow-large;
    width: 240px;
    max-width: 240px;

    // scss-lint:disable ImportantRule
    a {
      font-size: $font-size-base - 2;
      padding: 10px 14px;
      background: transparent;
      transition: $transition-primary;
      color: $color-gray !important;
      opacity: 1 !important;
      border-radius: $border-radius-large;

      // scss-lint:disable ImportantRule
      &:hover {
        background: $color-transparent-alt-light;
        color: $color-black !important;
        text-decoration: none;

        // scss-lint:disable ImportantRule
        @media all and (max-width: $screen-md-min) {
          background: transparent;
        }

      }

      // scss-lint:disable ImportantRule
      @media all and (max-width: $screen-md-min) {
        opacity: 1;
        position: relative;
        transform: translateY(0);
        box-shadow: none;
        background: transparent;
      }

    }

    @media all and (max-width: $screen-md-min) {
      opacity: 1;
      position: relative;
      transform: translateY(0);
      box-shadow: none;
      background: transparent;
      margin: auto;
      width: 100%;
    }

  }

}

// scss-lint:disable NestingDepth,SelectorDepth
.navbar-default {
  > .container {
    position: relative;
  }

  .navbar-collapse {
    @media (max-width: $screen-sm-max) {
      text-align: center;
    }
  }

  .navbar-brand {

    .wordmark {
      transition: fill .3s;
    }

    &:focus,
    &:hover {
      outline: 0;

      .wordmark {
        fill: $color-primary-alt;
      }
    }
  }

  .navbar-nav {
    margin-bottom: 0;
    display: flex;
    align-items: center;

    @media (min-width: $screen-md-min) {
      float: right;
    }

    > li {
      &.active {
        position: relative;

        &::after {
          content: "";
          position: absolute;
          left: 15px;
          right: 15px;
          bottom: -1px;
          height: 4px;
          background-color: $color-primary;
        }
      }

      &:last-child {
        border-bottom: 2px solid $color-primary;

        @media (min-width: $screen-md-min) {
          border-bottom: 0;
        }
      }

      > a {
        padding-left: 30px;
        padding-right: 30px;

        @media (min-width: $screen-sm-min) {
          padding-left: 10px;
          padding-right: 10px;
        }

        @media (min-width: $screen-md-min) {
          padding: 15px 10px;
        }

        @media (min-width: $screen-lg-min) {
          padding-left: 25px;
          padding-right: 25px;
        }
      }
    }

    .sign-in-up-btn,
    .explore-btn {
      position: relative;
      padding-left: 0;
      padding-right: 0;
      color: $color-primary;
      font-weight: 600;

      @media (min-width: $screen-md-min) {
        margin-right: 10px;
      }

      &:hover {
        text-decoration: underline;
      }

      &.is-last {
        @media (min-width: $screen-md-min) {
          margin-right: 0;
          margin-left: 10px;
        }
      }
    }

    .explore-btn {
      margin-right: 18px;
    }

    @media all and (max-width: $screen-md-min) {
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
      padding: 20px;
    }
  }
}
// scss-lint:enable NestingDepth,SelectorDepth
